html {
    scroll-behavior: smooth;
  }

.anton {
    font-family: "Anton", serif;
    font-weight:100;
    font-style: normal;
  }

  #bg-move {
    background: url(./img/bg.gif) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

#overlay{
    position: absolute;
    top:0px;
}

.blog-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal columns */
    gap: 20px; /* Adds space between the divs */
}

.blog-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}


#certi{
    background: url(./img/certi.png) no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 120vh;
    background-position: center;
}